<footer class="page-footer">
  <div class="footer-copyright red">
    <div class="container">
      All articles belong to <a href='https://medium.com/topic/technology' target="_blank">Medium</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>